<div class="modal-header">
	Cadastro de pagamentos
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<label for="agrupador">Data</label>
				<input type="text" id="agrupador" class="form-control" ng-model="agrupadorDataset.nome" required>			
			</div>
			<div class="col-xs-6">
				<label for="agrupador">Valor</label>
				<input type="text" id="agrupador" class="form-control" ng-model="agrupadorDataset.nome" required>			
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<label for="agrupador">Identificador</label>
				<input type="text" id="agrupador" class="form-control" ng-model="agrupadorDataset.nome" required>			
			</div>
			<div class="col-xs-6">
				<span>&nbsp</span>
				<button class="btn btn-success	btn-block">Adicionar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover table-highlight table-checkable" >
					<thead>
						<tr>
							<th>Cód</th>
							<th>Nome</th>
							<th>Ação</th>
						</tr>
						<tr>
							<th><input class="form-control input-sm show" type="text" placeholder="Cód" ng-model="formapagamentoFilter.id_forma_pagamento"></th>
							<th><input class="form-control input-sm show" type="text" placeholder="Nome" ng-model="formapagamentoFilter.nome"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in formapagamentoDataset | filter:formapagamentoFilter">
							<td>{{item.id_forma_pagamento}}</td>
							<td>{{item.nome}}</td>
							<td>
								<a href="#/cad_formapagamento/{{item.id_forma_pagamento}}" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
								<a class="btn btn-sm btn-danger" ng-click="deletaFormaPagamento(item);"><i class="fa fa-eraser"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- /.table-responsive -->
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="salvaAgrupador()">Salvar</button>
	<button class="btn btn-danger" ng-click="ok()">Fechar</button>
</div>