<ul class="nav navbar-nav pull-right">
	<li>
		<a class="dropdown dropdown-toggle">
			<i class="fa fa-user"></i>
			{{$root.loggedUserData.nome}}
			<span class="caret"></span>
		</a>

		<ul class="dropdown-menu" role="menu">
			<li class="dropdown-menu-item">
				<a href="#/perfil">
					<i class="fa fa-cogs"></i> 
					&nbsp;&nbsp;Configuração de Usuário
				</a>
			</li>
			<li class="divider"></li>
			<li class="dropdown-menu-item">
				<a href="#/logout">
					<i class="fa fa-sign-out"></i> 
					&nbsp;&nbsp;Logout
				</a>
			</li>
		</ul>
	</li>
</ul>