<nav id="sidebar" ng-controller="menuCtrl" ng-show="sideBarIsVisible">
	<ul id="main-nav" class="open-active" ws-menu>			
		<li class="active" ng-show="verificaPermissaoAcesso('menu/dashboard')">
			<a href="#/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a>				
		</li>
		<li class=""  ng-show="verificaPermissaoAcesso('menu/aluno')">
			<a href="#/aluno"><i class="fa fa-user"></i>Aluno</a>				
		</li>
		<li class="" ng-show="verificaPermissaoAcesso('menu/aulaexp')">
			<a href="#/aulaexp"><i class="fa fa-list-alt"></i>Aula Experimental</a>
		</li>
		<li class="" ng-show="verificaPermissaoAcesso('menu/estacionamento')">
			<a href="#/estacionamento"><i class="fa fa-truck"></i>Estacionamento</a>
		</li>
		<li class="" ng-show="verificaPermissaoAcesso('menu/servico')">
			<a href="#/servico"><i class="fa fa-book"></i>Serviços</a>
		</li>
		<li class="" ng-show="verificaPermissaoAcesso('menu/presenca')">
			<a href="#/presenca"><i class="fa fa-check-square-o"></i>Presença</a>
		</li>
		<li class="" ng-show="verificaPermissaoAcesso('menu/financeiro')">
			<a href="#/financeiro"><i class="fa fa-money"></i>Financeiro</a>
		</li>
		<li class="dropdown" data-ng-show="verificaPermissaoMenu(RECEPCAO, true);">
			<a href="javascript:;"><i class="fa fa-bar-chart-o"></i>Relatórios<span class="caret"></span></a>
			<ul class="sub-nav">
				<li ng-show="verificaPermissaoAcesso('menu/relatorio/relaluno')">
					<a href="#/relaluno"><i class="fa fa-bar-chart-o"></i>Aluno</a>
				</li>
				<li>
					<a href="#/relalunosplano"><i class="fa fa-bar-chart-o"></i>Aluno/Plano</a>
				</li>
				<li ng-show="verificaPermissaoAcesso('menu/relatorio/relmetricacontrato')">
					<a href="#/relmetricacontrato"><i class="fa fa-bar-chart-o"></i>Metrica de Contrato</a>
				</li>
				<li ng-show="verificaPermissaoAcesso('menu/relatorio/relaula')">
					<a href="#/relaula"><i class="fa fa-bar-chart-o	"></i>Aula</a>
				</li>
				<li ng-show="verificaPermissaoAcesso('menu/relatorio/relservico')">
					<a href="#/relservico"><i class="fa fa-bar-chart-o	"></i>Serviço</a>
				</li>
                <li>
					<a href="#/relpresenca"><i class="fa fa-bar-chart-o	"></i>Presença</a>
				</li>
			</ul>						
		</li>	
		<li class="dropdown" data-ng-show="verificaPermissaoMenu(RECEPCAO, true);">
			<a href="javascript:;"><i class="fa fa-cog"></i>Configuração<span class="caret"></span></a>
			<ul class="sub-nav">
				<li ng-show="verificaPermissaoAcesso('menu/configuracoes/desconto')">
					<a href="#/desconto"><i class="fa fa-cog"></i>Desconto</a>
				</li>
				<li ng-show="verificaPermissaoAcesso('menu/configuracoes/formapagamento')">
					<a href="#/formapagamento"><i class="fa fa-cog"></i>Formas de pagamento</a>
				</li>	
				<li ng-show="verificaPermissaoAcesso('menu/configuracoes/plano')">
					<a href="#/plano"><i class="fa fa-cog"></i>Planos</a>
				</li>			
			</ul>	
		</li>
		<li class="dropdown" data-ng-show="verificaPermissaoMenu(ALUNO,true);">
			<a href="javascript:;"><i class="fa fa-cog"></i>Leaderboard<span class="caret"></span></a>
			<ul class="sub-nav">
				<li>
					<a href="#/leaderboard"><i class="fa fa-book"></i>Leaderboard do dia</a>		
				</li>
				<li data-ng-show="verificaPermissaoMenu(RECEPCAO,true);">
					<a href="#/buscar_leaderboard"><i class="fa fa-book"></i>Leaderboards passados</a>		
				</li>
			</ul>
		</li>
		<li  data-ng-show="verificaPermissaoMenu(ALUNO,false);">
			<a href="#/presenca_salao"><i class="fa fa-book"></i>Presença Salão</a>
		</li>
	</ul>
</nav> <!-- #sidebar -->