<nav id="sidebar">		
	<ul id="main-nav" class="open-active" ws-menu>			
		<li class="active">				
			<a href="#/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a>				
		</li>
		<li class="">
			<a href="#/aluno"><i class="fa fa-user"></i>Aluno</a>				
		</li>
		<li class="">				
			<a href="#/aulaexp"><i class="fa fa-list-alt"></i>Aula Experimental</a>				
		</li>
		<li class="">				
			<a href="#/estacionamento"><i class="fa fa-truck"></i>Estacionamento</a>				
		</li>
		<li class="">				
			<a href="#/servico"><i class="fa fa-book"></i>Serviços</a>				
		</li>
		<li class="">				
			<a href="#/presenca"><i class="fa fa-check-square-o"></i>Presença</a>				
		</li>
		<!-- <li class="">
			<a href="#/financeiro"><i class="fa fa-money"></i>Financeiro</a>				
		</li> -->
		<li class="dropdown">
			<a href="javascript:;"><i class="fa fa-bar-chart-o"></i>Relatórios<span class="caret"></span></a>				
			<ul class="sub-nav">
				<li>
					<a href="#/relaluno"><i class="fa fa-bar-chart-o"></i>Aluno</a>
				</li>
				<li>
					<a href="#/relmetricacontrato"><i class="fa fa-bar-chart-o"></i>Metrica de Contrato</a>
				</li>
				<li>
					<a href="#/relaula"><i class="fa fa-bar-chart-o	"></i>Aula</a>
				</li>
				<li>
					<a href="#/relservico"><i class="fa fa-bar-chart-o	"></i>Serviço</a>
				</li>
			</ul>						
		</li>	
		<li class="dropdown">
			<a href="javascript:;"><i class="fa fa-cog"></i>Configuração<span class="caret"></span></a>
			<ul class="sub-nav">
				<li>
					<a href="#/desconto"><i class="fa fa-cog"></i>Desconto</a>
				</li>
				<li>
					<a href="#/formapagamento"><i class="fa fa-cog"></i>Formas de pagamento</a>
				</li>	
				<li>
					<a href="#/plano"><i class="fa fa-cog"></i>Planos</a>
				</li>			
			</ul>	
		</li>
	</ul>
</nav> <!-- #sidebar -->