#aluno(ng-init="carregaAluno();")
	h1 
		| Alunos
		.user
		.sair
	.content
		.box
			.titulo 
				| Lista de alunos
				a(href='#', title='Adicionar').adicionar
				a(href='#', title='Pesquisar').pesquisar
			ws-pagination(total-items="alunoDataset.length", ng-model="paginaAtual", items-per-page="itensPorPagina")
			table
				tr
					th Alunos
					th E-mail
					th Celular
					th Fim Contrato
					th Status
					th Ação
				tr(ng-repeat="aluno in alunoDataset | startFrom: (paginaAtual - 1) * itensPorPagina | limitTo: itensPorPagina")
					td {{aluno.nome}}
					td {{aluno.email}}
					td {{aluno.tel_celular}}
					td {{aluno.data_fim}}
					td 
						div(ng-class="{ativo: aluno.status == 'A', trancado: aluno.status == 'T', finalizado: aluno.status == 'F', inativo: aluno.status == 'I'}")
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar