#aula_exp
	h1 
		| Aula Experimental
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo 
				| Aulas Marcadas
				a(href='#', title='Adicionar').adicionar
				a(href='#', title='Pesquisar').pesquisar
			table
				tr
					th Aluno
					th Data Aula
					th Celular
					th Observação
					th Confirma
					th Presente
					th Ação
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.ativo
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.ativo
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td Bernard Faria
					td 
						| 28/03/2015
						small Quinta-feira
					td 31 9999-9999
					td Observação
					td 
						.ativo
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar