#aula
	h1 
		| Aula
		.user
		.sair
	.content
		.box
			.titulo Horário das aulas
			form
				p
					label Horário
					input(type="text")
				p
					label Dia semana
					select
						option Domingo
						option Segunda
						option Terça
						option Quarta
						option Quinta
						option Sexta
						option Sábado
				.botoes
					button.salvar Salvar
					button Cancelar
			table
				tr
					th 
					th Dom
					th Seg
					th Ter
					th Qua
					th Qui
					th Sex
					th Sab
				tr
					td Manhã 
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
				tr
					td Tarde 
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
				tr
					td Noite 
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
					td
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
						.hora 
							span 00:00
							a.excluir(href="#")
