#cad_aula_exp
	h1 
		| Aula Experimental
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo Nova marcação
			form
				.tab
					ul.tabs
						li.active
							a(href="#") Salvar
						li
							a(href="#") Presença
						li
							a(href="#") Pós-aula
					.tab-content
						#salvar
							p
								label Nome
								input(type="text")
							p
								label Data aula
								input(type="date")
							p
								label E-mail
								input(type="email")
							p
								label Telefone
								input(type="text")
							p
								label CPF
								input(type="text")
							p
								label Como conheceu a academia
								input(type="text")
							p
								label Já tem alguma experiência no Crossfit?
								select
									option Sim
									option Não
							p.observacao
								label Observacao
								textarea
						#presenca
							p
								label Confirmado?
								select
									option Sim
									option Não
						#pos-aula
							p
								label O que achou da aula experimental?
							.check
								input(type="checkbox", id="otimo")
								label(for="otimo") Ótimo
							.check
								input(type="checkbox", id="bom")
								label(for="bom") Bom
							.check
								input(type="checkbox", id="regular")
								label(for="regular") Regular
							.check
								input(type="checkbox", id="ruim")
								label(for="ruim") Ruim
							.check
								input(type="checkbox", id="pessimo")
								label(for="pessimo") Péssimo
							p
								label Observação
								textarea
				hr
				.botoes
					button.salvar Salvar
					button Cancelar
				



















