#cad_aluno
	h1 
		| Alunos
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo 
				| Novo aluno
				a.contrato(href="#")
			form
				p
					label Nome
					input(type="text")
				p
					label E-mail
					input(type="text")
				p
					label Data Nascimento
					input(type="date")
				p
					label RG
					input(type="text")
				p
					label CPF
					input(type="text")
				p
					label Estado Civil
					input(type="text")
				p
					label Logradouro
					input(type="text")
				p
					label Complemento
					input(type="text")
				p
					label Bairro
					input(type="text")
				p
					label CEP
					input(type="text")
				p
					label Cidade
					input(type="text")
				p
					label Estado
					input(type="text")
				p
					label Telefone Fixo
					input(type="text")
				p
					label Telefone Celular
					input(type="text")
				p
					label Plano de saúde
					input(type="text")
				p
					label Pessoa de referência
					input(type="text")
				p
					label Telefone referência
					input(type="text")
				p.observacao
					label Observação
					textarea
				p
					label Atestado médico
					select
						option Sim
						option Não
				hr
				.botoes
					button.salvar Salvar
					button Cancelar
				