#cad_servico
	h1 
		| Serviços
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo 
				| Novo serviço
			form
				p
					label Aluno
					select
						option Bernard Faria
						option João Machado
						option Victor Vieira
				p
					label Data
					input(type="date")
				p
					label Tipo
					input(type="text")
				p
					label Valor
					input(type="text")
				p.observacao
					label Descrição
					textarea
				hr
				.botoes
					button.salvar Salvar
					button Cancelar
				