#cad_estacionamento
	h1 
		| Estacionamento
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo
				| Novo cadastro
			form
				p
					label Aluno
					select
						option Bernard Faria
						option João Machado
						option Victor Vieira
				p
					label
				p
					label Modelo
					input(type="text")
				p
					label Cor
					input(type="text")
				p
					label Plano Início
					input(type="date")
				p
					label Plano Fim
					input(type="date")
				p
					label Placa
					input(type="text")
				p
					label Valor Total
					input(type="text")
				p
					label Status
					select
						option Ativo
						option Inatino
						option Finalizado
				p
					label Observação
					input(type="text")
				hr
				.botoes
					button.salvar Salvar
					button Cancelar
				