#configuracao
	h1 
		| Configuração
		.user
		.sair
	.content
		.box
			.titulo Editar Configurções
			form
				.tab
					ul.tabs
						li.active
							a(href="#") Descontos
						li
							a(href="#") Pagamentos
						li
							a(href="#") Planos
					.tab-content
						#decontos
							table
								tr
									th Nome
									th % Desconto
									th Observção
									th Ação
								tr
									td Atleta
									td 50%
									td Atletas Federados
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Família
									td 10%
									td Parentesco 1 grau
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Pagamento à vista
									td 12%
									td Dinheiro ou Cartão de Débito
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Bolsista
									td 100%
									td 
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
						#pagamentos
							table
								tr
									th Nome
									th Código
									th Observção
									th Ação
								tr
									td Dinheiro
									td 91
									td Desconto 5%
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Cheque
									td 101
									td Máximo 6x
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Cartão de Crédito
									td 111
									td Máximo 6x
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Cartão de Débito
									td 112
									td 
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Boleto
									td 115
									td 
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
						#planos
							table
								tr
									th Nome
									th Valor
									th Observção
									th Ação
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar