#configuracao(ng-init="carregarDados();")
	h1 
		| Configuração
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo Editar Configurções
			form
				.tab
					ul.tabs
						li(ng-class="{active: tabAtiva == TAB_DESCONTO}")
							a(ng-click="setTabAtiva(TAB_DESCONTO);") Descontos
						li(ng-class="{active: tabAtiva == TAB_PAGAGAMENTOS}")
							a(ng-click="setTabAtiva(TAB_PAGAGAMENTOS);") Pagamentos
						li(ng-class="{active: tabAtiva == TAB_PLANOS}")
							a(ng-click="setTabAtiva(TAB_PLANOS);") Planos
					.tab-content
						#decontos(ng-show="tabAtiva == TAB_DESCONTO")
							table
								tr
									th Nome
									th % Desconto
									th Ação
								tr(ng-repeat="desconto in descontoDataset")
									td {{desconto.nome}}
									td {{desconto.porc_desc}}
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
						#pagamentos(ng-show="tabAtiva == TAB_PAGAGAMENTOS")
							table
								tr
									th Nome
									th Ação
								tr(ng-repeat="forma in formaPagamentoDataset")
									td {{forma.nome}}
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
						#planos(ng-show="tabAtiva == TAB_PLANOS")
							table
								tr
									th Nome
									th Valor
									th Ação
								tr(ng-repeat="plano in planoDataset")
									td {{plano.nome}}
									td {{plano.valor}}
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar