#contrato
	h1 
		| Alunos
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo 
				| Contratos
				a(href='#', title='Adicionar').adicionar
				a(href='#', title='Pesquisar').pesquisar
			table
				tr
					th Início
					th Fim
					th Econômico
					th Status
					th Ação
				tr
					td 28/03/2014
					td 28/03/2015
					td Sim
					td 
						.ativo
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 28/03/2014
					td 28/03/2015
					td Sim
					td 
						.ativo
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 28/03/2014
					td 28/03/2015
					td Não
					td 
						.trancado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 28/03/2014
					td 28/03/2015
					td Sim
					td 
						.finalizado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 28/03/2014
					td 28/03/2015
					td Sim
					td 
						.ativo
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 28/03/2014
					td 28/03/2015
					td Sim
					td 
						.ativo
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 28/03/2014
					td 28/03/2015
					td Não
					td 
						.trancado
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar