#dashboard(ng-init="loadDashboard();")
	h1 
		| Dashboard
		.user Crossfit BH
		.sair Sair
	.content
		.box-status.ativo
			.icone
			.titulo Alunos ativos
			span {{dashboardDataset.dashboard.ativo}}
		.box-status.inativo
			.icone
			.titulo Alunos inativos
			span {{dashboardDataset.dashboard.inativo}}
		.box-status.trancado
			.icone
			.titulo Alunos trancados
			span {{dashboardDataset.dashboard.trancado}}
		.box-status.finalizado
			.icone
			.titulo Alunos finalizados
			span {{dashboardDataset.dashboard.finalizado}}
		hr
		.box
			.titulo.aniversario Aniversariantes do mês
			ws-pagination(total-items="dashboardDataset.aniversarios.length", ng-model="paginaAtual.aniversario", items-per-page="itensPorPagina")
			table
				tr
					th Aluno
					th Data
				tr(ng-repeat="aniversariante in dashboardDataset.aniversarios | startFrom: (paginaAtual.aniversario - 1) * itensPorPagina | limitTo: itensPorPagina")
					td {{aniversariante.nome}}
					td {{aniversariante.data_nasc}}
		.box.dir
			.titulo.planos Planos Vencendo
			ws-pagination(total-items="dashboardDataset.plano.length", ng-model="paginaAtual.planoVencendo", items-per-page="itensPorPagina")
			table
				tr
					th Aluno
					th Data
				tr(ng-repeat="aluno in dashboardDataset.plano | startFrom: (paginaAtual.planoVencendo - 1) * itensPorPagina | limitTo: itensPorPagina")
					td {{aluno.nome}}
					td {{aluno.data_fim}}
		.box
			.titulo.estacionamento Estacionamento Vencido
			table
				tr
					th Aluno
					th Data
				tr(ng-repeat="aluno in dashboardDataset.estacionamentoVencido")
					td {{aluno.nome}}
					td {{aluno.plano_fim}}
		.box.dir
			.titulo.estacionamento Estacionamento Trancado
			table
				tr
					th Aluno
					th Placa
				tr(ng-repeat="aluno in dashboardDataset.estacionamentoTrancado")
					td {{aluno.nome}}
					td {{aluno.placa}}