#financeiro
	h1 
		| Financeiro
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo 
				| Controle Financeiro
			.carousel
				.seta-esq
				.mes Maio de 2015
				.seta-dir
			.balanco
				.tit Controle deste mês
				ul
					li.entrada
						.texto Entradas
						.valor R$ 5000,00
					li.saida
						.texto Saídas
						.valor R$ 2700,00
					li.resultado
						.texto Resultado
						.valor R$ 2300,00
			.balanco
				.tit Balanço Geral
				ul
					li.entrada
						.texto Entradas
						.valor R$ 25000,00
					li.saida
						.texto Saídas
						.valor R$ 2700,00
					li.resultado
						.texto Resultado
						.valor R$ 22300,00
			.titulo.mov
				| Movimentações
				a(href='#', title='Adicionar').adicionar
				a(href='#', title='Pesquisar').pesquisar
			table
				tr
					th Tipo
					th Data
					th Descrição
					th Categoria
					th Valor
					th Ação
				tr
					td 
						.despesa
					td 22/02/2015
					td Compra de materia
					td Material
					td R$ 55,00
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 
						.receita
					td 22/02/2015
					td Compra de materia
					td Material
					td R$ 55,00
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 
						.receita
					td 22/02/2015
					td Compra de materia
					td Material
					td R$ 55,00
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar
				tr
					td 
						.despesa
					td 22/02/2015
					td Compra de materia
					td Material
					td R$ 55,00
					td
						a(href='#', title='Excluir').excluir
						a(href='#', title='Editar').editar