//- Vendor
script(type="text/javascript", src="www/assets/scripts/vendor/angular/angular.js")
script(type="text/javascript", src="www/assets/scripts/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="www/assets/scripts/vendor/angular-route/angular-route.js")

//- Scripts
script(type="text/javascript", src="www/assets/scripts/diretivas/appdirectives.js")
script(type="text/javascript", src="www/assets/scripts/diretivas/wsPagination.js")
script(type="text/javascript", src="www/assets/scripts/filters/appfilters.js")
script(type="text/javascript", src="www/assets/scripts/services/appservices.js")
script(type="text/javascript", src="www/assets/scripts/controllers/appcontrollers.js")
script(type="text/javascript", src="www/assets/scripts/app.js")