#leaderboard
	h1 
		| Leaderboards
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo Leaderboards
			form
				.tab
					ul.tabs
						li.active
							a(href="#") Do Dia
						li
							a(href="#") Passado
					.tab-content
						#dodia
							p
								label Aluno
								select
									option Bernard Faria
									option João Machado
									option Victor Vieira
							.check
								input(type="checkbox", id="rx")
								label(for="rx") Rx?
							p.rep
								label Repetiçoões
								input(type="text")
							p.min
								label Minutos
								input(type="text")
							p.seg
								label Segundos
								input(type="text")
							p
								label Observação
								input(type="text")
							p
								label url externa
								input(type="text")
							.botoes
								button.salvar Adicionar
								button Limpar
							hr
							table
								tr
									th Aluno
									th Rx
									th Repetiçoões
									th Tempo
									th Observação
								tr
									td Bernard Faria
									td
										.ativo
									td -
									td 2:30
									td Sim
								tr
									td Bernard Faria
									td
										.ativo
									td -
									td 2:30
									td Sim
								tr
									td Bernard Faria
									td
										.ativo
									td -
									td 2:30
									td Sim
								tr
									td Bernard Faria
									td
										.ativo
									td 80
									td -
									td Sim
								tr
									td Bernard Faria
									td
									td 100
									td -
									td Sim
						#passado
							p
								label Data
								input(type="date")
							p
								label url externa
								input(type="text")
							.botoes
								button.salvar Adicionar
								button Limpar
							hr
							table
								tr
									th Aluno
									th Rx
									th Repetiçoões
									th Tempo
									th Observação
								tr
									td Bernard Faria
									td
										.ativo
									td -
									td 2:30
									td Sim
								tr
									td Bernard Faria
									td
										.ativo
									td -
									td 2:30
									td Sim
								tr
									td Bernard Faria
									td
										.ativo
									td -
									td 2:30
									td Sim
								tr
									td Bernard Faria
									td
										.ativo
									td 80
									td -
									td Sim
								tr
									td Bernard Faria
									td
									td 100
									td -
									td Sim