#rel_aula
	h1 
		| Relatório de aula
		.user
		.sair
	.content
		.box
			.titulo Pesquisar Aulas
			form
				p
					label Data Inicial
					input(type="date")
				p
					label Data Final
					input(type="date")
				p
					label Horário
					input(type="text")
				hr
				.botoes
					button.salvar Salvar
					button Cancelar
		.box
			.titulo Gráfico