#rel_aluno_plano
	h1 
		| Relatório de aluno / plano
		.user
		.sair
	.content
		.box
			.titulo Alunos ativos e trancados por plano
			table
				tr
					th Número de Alunos
					th Plano
					th Percentual
				tr
					td 10
					td 2x Mensal
					td 10%
				tr.ativo
					td 5
					td 5x Mensal
					td 5%
				tr
					td 10
					td 4x Trimestral
					td 10%
				tr
					td 15
					td 4x Anual
					td 15%
				tr
					td 60
					td 5x Anual
					td 60%
		.box
			.titulo Resultados
			table
				tr
					th Aluno
					th Ação
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')