#rel_servico
	h1 
		| Relatório de Serviço
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo.t1 Pesquisar Serviços
			form
				p
					label Data Inicial
					input(type="date")
				p
					label Data Final
					input(type="date")
				p
					label Tipo
					input(type="text")
				hr
				.botoes
					button.salvar Pesquisar
					button Cancelar
		.box
			.titulo Gráfico