#rel_presenca
	h1 
		| Relatório de presença
		ws-top-menu(usuario="loggedUserData.nome")
	.content
		.box
			.titulo.t1 Pesquisar Presenças
			form
				p
					label Data Inicial
					input(type="date")
				p
					label Data Final
					input(type="date")
				hr
				.botoes
					button.salvar Pesquisar
					button Cancelar
		.box
			.titulo Resultados
			table
				tr
					th Presentes
					th Ausentes
				tr
					td
						| 65
						a.info(href='#', title='info')
					td
						| 65
						a.info(href='#', title='info')
		.box
			.titulo Resultados
			table
				tr
					th Aluno
					th Ação
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')
				tr
					td Bernard Faria
					td 
						a.editar(href='#', title='Editar')