#aula
	.titulo
		border-bottom 10px solid #353535
		margin-bottom 10px
		&:after
			content '\e602'
	p
		input
			width 326px
		select 
			width 360px
	table
		tr
			th:first-child
			td:first-child
				width 55px
				
			td
				.hora
					height auto
					margin 0 0 10px
					width auto
					span
						font-family Lato-Light
						font-size 20px