#aula_exp
#cad_aula_exp
	.titulo:after
		content '\e600'
#cad_aula_exp
	.tab-content
		#salvar
		#presenca
		#pos-aula
			p
				float none
				margin 0 auto 10px
				width 404px
				input[type="text"]
				input[type="email"]
				input[type="date"]
				textarea
					width 400px
				select
					width 435px
				textarea
					height 145px
			.check
				float none
				margin 0 auto 10px
				width 404px





















