*
	font-family TitilliumWeb-Bold
	list-style none
	margin 0
	padding 0
	outline 0
	text-transform uppercase
body
	background-color #1E1E1E
a
	text-decoration none
input[type="text"]
input[type="password"]
input[type="email"]
input[type="date"]
textarea
select
	border 2px solid #DDE1E1
	color #666666
	font-family TitilliumWeb-Light
	font-size 18px
	height 40px
	padding 0 15px
	&:focus
		border-color #878787
.check
	[type="checkbox"]:not(:checked)
	[type="checkbox"]:checked
		left -9999px
		position absolute
		& + label
			cursor pointer
			padding-left 25px
			position relative
			&:before
				border 2px solid #dde1e1
				content ''
				height 17px
				left 0
				position absolute
				top 2px
				width 17px
			&:after
				color #09ad7e
				content '✔'
				font-size 14px
				left 6px
				position absolute
				top 1px
				transition all .2s
	[type="checkbox"]:checked +label:before
		border-color #878787
	[type="checkbox"]:not(:checked) + label:after
		opacity 0
		transform scale(0)
	[type="checkbox"]:checked + label:after
		opacity 1
		transform scale(1)
	[type="checkbox"]:disabled:not(:checked) + label:before
	[type="checkbox"]:disabled:checked + label:before
		box-shadow none
		border-color #bbb
		background-color #ddd
	[type="checkbox"]:disabled:checked + label:after
		color #999
	[type="checkbox"]:disabled + label
		color #aaa
// MENU LATERAL
.menu-lateral	
	display block
	float left
	width 130px
	.logo
		background url(../images/logo.png) 0 0 no-repeat
		display block
		height 162px
		margin 20px auto 60px
		width 97px
	ul
		border-top 1px solid #2E2E2E
		display block
		li
			border-bottom 1px solid #2E2E2E
			display block
			a
				color #3F3F3F
				display block
				font-size 14px
				height 45px
				padding-top 49px
				position relative
				text-align center
				&.active
				&:active
					background-color #C02C0A
					color #fff
				&:after
					font-family icomoon
					font-size 30px
					left 50px
					padding 0
					position absolute
					top 14px
				&.m1:after
					content '\e60a'
				&.m2:after
					content '\e600'
				&.m3:after
					content '\e602'
				&.m4:after
					content '\e60e'
				&.m5:after
					content '\e616'
				&.m6:after
					content '\e608'
				&.m7:after
					content '\e617'
				&.m8:after
					content '\e60f'
				&.m9:after
					content '\e609'
				&.m10:after
					content '\e610'

// CONTAINER
.container
	background-color #edeef2
	display block
	left 130px
	min-height 1193px
	position absolute
	right 0
	text-align center
	top 0px
	width auto
// TITULO DA PAGINA
h1
	background-color #fff
	border-bottom 2px solid #DDDEE2
	color #2C3D4E
	display block
	float left
	font-size 26px
	height 90px
	left 0px
	line-height 90px
	position absolute
	right 0
	text-align left
	top 0
	padding-left 50px
	width auto

// CONTENT
.content
	display inline-block
	margin 92px auto 0
	padding 30px 0
	text-align left
	width 980px
	
hr
	border none
	border-top 1px solid #DDDDDD
	clear both
	display block
	float left
	height 1px
	margin 40px 0
	width 980px

// BOX
.box
	background-color #fff
	border-radius 4px
	box-shadow 0 2px #D9D9DD
	display block
	float left
	width 980px
	&.dir
		margin-left 50px
	.titulo
		display block
		font-size 16px
		height 55px
		line-height 55px
		padding-left 50px
		position relative
		&:after
			font-family icomoon
			font-size 30px
			left 10px
			position absolute
			top 0px
		&.aniversario:after
			content '\e605'
		&.planos:after
			content '\e610'
			top -2px
		&.estacionamento:after
			content '\e60e'
		a 
			display block
			float right
			height 25px
			margin 16px 20px 0 0
			position relative
			width 25px
			&:after
				color #AEBDC8
				font-family icomoon
				font-size 25px
				height 25px
				left 0px
				position absolute
				top -15px
				width 25px
			&.adicionar:after
				content '\e621'
			&.pesquisar:after
				content '\e604'
				

// TABLE
table
	border-collapse collapse
	border-spacing 0
	display table
	margin 0 auto
	max-width 100%
	text-align left
	width 100%
	tr
		display table-row
		th
		td
			border-bottom 1px solid #eee
			border-left 1px solid #eee
			display table-cell
			height 20px
			line-height 20px
			padding 15px
			text-align center
			&:first-child
				border-left none
		th
			background-color #353535
			border none
			color #ECEDF2
			font-size 14px
			text-align center
		td
			color #666
			font-family TitilliumWeb-Light
			font-size 18px
			text-transform initial
			div
				display block
				height 20px
				margin 0 auto
				position relative
				width 20px
				&:after
					font-family icomoon
					font-size 20px
				&.ativo:after
					color #7AB30E
					content '\e607'
				&.trancado:after
					color #F4C100
					content '\e61e'
				&.finalizado:after
					color #FF5B03
					content '\e606'
				&.despesa
					background-color #FF736A
					border-radius 50%
					height 12px
					width 12px
				&.receita
					background-color #00BC91
					border-radius 50%
					height 12px
					width 12px
			a
				display inline-block
				height 20px
				margin 0 2px
				position relative
				width 20px
				&:after
					color #B2C1CC
					font-family icomoon
					font-size 20px
				&.editar:after
					content '\e60c'
				&.excluir:after
					content '\e601'
				&.presente:after
					content '\e611'
				&.info
					margin 0 0 0 10px
					top 2px
					&:after
						content '\e620'
				&.user:after
					content '\e61f'
			small
				display block
				font-family TitilliumWeb-Light
				font-size 12px
				margin -5px 0 0
		&.ativo td
			background-color #E7E8EC
			
// TABS
.tab
	ul.tabs
		border-bottom 1px solid #ddd
		display block
		margin 0 auto 15px
		padding-bottom 15px
		text-align center
		width 770px
		li
			display inline-block
			font-size 14px
			height 42px
			margin-left 1px
			width 165px
			a
				background-color #dcdcdc
				color #BABABA
				display block
				height 42px
				line-height 42px
				// text-align center
				width 165px
			&.active
			&:active
				a
					background-color #353535
					color #ddd
					
// FORMULARIO
form
	display block
	margin 0 auto 20px
	width 770px
	p
		display block
		float left
		margin 0 0 10px
		min-height 65px
		width 360px
		&:nth-child(2n)
			float right
		label
			color #878787
			display block
			font-size 14px
	hr
		margin 10px 0
		width 770px
	.botoes
		clear both
		display block
		text-align center
		width 100%
		button
			background-color #ccc
			border none
			color #fff
			display inline-block
			font-size 14px
			height 42px
			margin 0 10px
			width 130px
			&.salvar
				background-color #00B885
#cad_aluno
#cad_contrato
#cad_estacionamento
#cad_servico
#leaderboard
	input[type="text"]
	input[type="password"]
	input[type="email"]
	input[type="date"]
	textarea
		width 326px
	select
		width 360px

// TITULOS FORMS CADASTRO
#cad_aluno
#cad_contrato
#cad_aula_exp
#cad_estacionamento
#cad_servico
#financeiro
#configuracao
#leaderboard
#rel_aula
	.titulo
		border-bottom 10px solid #353535
		margin-bottom 10px
		
// POPUP
// .fundo
// 	background-color rgba(0,0,0,.7)
// 	height 100%
// 	left 0
// 	position absolute
// 	top 0
// 	width 100%
// 	z-index 9999
// 	.popupContainer
// 		background-color #fff
// 		height 484px
// 		left 50%
// 		position absolute
// 		top 50%
// 		transform translate(-50%,-50%)
// 		width 442px
		
		
		














































