#contrato
#cad_contrato
	.titulo:after
		content '\e622'
		left 12px
#contrato
	table
		tr
			td
				text-align center
#cad_contrato
	.observacao
		height 135px
		width 770px
		textarea
			height 110px
			width 736px