#estacionamento
#cad_estacionamento
	.titulo:after
		content '\e60e'
#cad_aluno
	.titulo
		a.contrato
			display block
			float right
			height 25px
			position relative
			width 20px
			&:after
				color #444
				content '\e622'
	.observacao
		height 135px
		textarea
			height 110px