#leaderboard
	.check
		display block
		float left
		margin 0 0 10px 14px
		min-height 65px
		width 30px
		label
			color #878787
			display block
			padding 0
			text-align center
			&:before
				left 3px
				top 30px
			&:after
				left 8px
				top 29px
	.rep
	.min
	.seg
		float left
		margin 0 0 10px 12px
		width 110px
		input[type="text"]
			width 76px
	.botoes
		float left
		margin 15px 0
	table
		border 1px solid #eee
		tr
			td
				.ativo:after
					color #8C8C8C