.login
  background-color #2A2A2A
  display block
  height 100%
  left 0
  overflow hidden
  position absolute
  top 0
  width 100%
  .sombra
    background url(../images/sombra-login.png) 0 0 no-repeat
    display block
    height 730px
    left 0
    position absolute
    top 50%
    transform translate(0, -50%)
    width 380px
  .container
    background none
    display block
    font-family TitilliumWeb-Bold
    height 500px
    left 50%
    min-height 0
    position absolute
    text-transform uppercase
    top 50%
    transform translate(-50%, -50%)
    width 875px
    .logo
      background url(../images/logo-login.png)
      display block
      float left
      height 461px
      width 300px
    .box-login
      background-color #fff
      border-radius 4px
      display block
      float left
      height 385px
      margin 50px 0 0 60px
      width 515px
      .titulo
        border-bottom 1px solid #DDE1E1
        color #444
        display block
        font-size 16px
        height 45px
        line-height 45px
        padding-left 20px
      .descricao
        color #878787
        display block
        font-size 13px
        margin 20px auto
        text-align center
        &.esqueceu
          margin 40px auto
      form
        display block
        margin 0 auto
        position relative
        width 425px
        p
          display block
          flaot left
          margin 0 0 10px
          position relative
          width 100%
          label
            color #878787
            display block
            float left
            font-size 14px
            height 44px
            line-height 44px
            text-align center
            width 75px
          input[type="text"]
          input[type="password"]
          input[type="email"]
            width 264px
        // .msg-alert
        //   color #CA3000
        //   display block
        //   float left
        //   font-size 10px
        button
          background-color #C52E00
          border none
          color #fff
          display block
          font-family TitilliumWeb-Bold
          font-size 14px
          height 42px
          margin 25px auto 0
          text-transform uppercase
          width 130px
          
    a
      color #3F3F3F
      display block
      float right   
      font-size 14px
      margin 10px 0 0
      text-decoration underline
      text-transform uppercase
      


















