#presenca
	.titulo:after
		content '\e600'
	.box.presenca
		float none
		height 72px
		margin 0 auto 20px
		padding 50px
		width 544px
		form
			p
				width 100%
				input
					float left
					height 46px
					margin 0 6px 0 0
					width 374px	
				button
					background-color #00B882
					border none
					color #fff
					font-family TitilliumWeb-Bold
					font-size 14px
					height 50px
					width 130px
#cad_presenca
	.box.pesquisa
		float left
		height 136px
		margin-bottom 20px
		padding 50px 20px
		width 206px
		label
			color #878787
			font-size 14px
		button
			background-color #00B885
			border none
			color #fff
			font-size 14px
			height 50px
			margin-top 10px
			width 206px
	.box.aluno
		float left
		margin 0 0 20px 10px
		width 724px
		.titulo:after
			content '\e600'
		table
			tr.presente
				td
					background-color rgba(77,185,125, .1)
	.box.presenca
		.titulo
			border-bottom 1px solid #eee
			margin-bottom 10px
			&:after
				content '\e608'
		p
			display block
			float left
			margin 0 0 10px 10px
			width 222px
			label
				color #878787
				display block
				font-size 14px
			input
				width 188px
		.botoes
			clear both
			display block
			margin 20px auto
			text-align center
			width 100%
			button
				background-color #ccc
				border none
				color #fff
				display inline-block
				font-size 14px
				height 42px
				margin 0 10px
				width 130px
				&.salvar
					background-color #00B885
				