#rel_aluno
#rel_aluno_plano
#rel_aula
#rel_metrica_contrato
#rel_presenca
#rel_servico
	.titulo:after
		content '\e617'
	.box
		margin-bottom 20px
#rel_aluno_plano
	table
		tr.ativo
			td
				background-color #E7E8EC
#rel_aula
#rel_servico
	p
		float left
		margin-left 10px
		width 250px
		&:first-child
			margin-left 0
		input
			width 216px
#rel_metrica_contrato
#rel_aluno
#rel_presenca
#rel_servico
	.t1
		border-bottom 10px solid #353535
		margin-bottom 10px
#rel_metrica_contrato
#rel_presenca
	p
		margin 0 auto 10px
		width 380px
		input[type="date"]
			width 346px
#rel_aluno
	#aluno
		p
			float left
			margin-left 5px
			width 224px
			&.aluno
				margin-left 0px
				width 310px
				select
					width 310px
	#aluno_idade
		p
			input 
				width 326px
				


















