<div id="content" ng-init="carregaCadServico();">			
	<div id="content-header">
		<h1>Serviço</h1>
	</div> <!-- #content-header -->	
	<div id="content-container">
		<div class="portlet">
			<div class="portlet-header">
				<h3><i class="fa fa-tasks"></i>Serviço</h3>
			</div> <!-- /.portlet-header -->
			<div class="portlet-content">
				<form class="form" name="form" novalidate>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="aluno">Aluno *</label>
								<!-- <input type="text" id="aluno" class="form-control" ng-model="servicoDataset.id_aluno"> -->
								<select id="aluno" class="form-control" ng-model="servicoDataset.id_aluno" ui-select2 data-placeholder="Selecione um aluno" required>
									<option></option>
									<option ng-repeat="aluno in selectAluno" value="{{aluno.id_aluno}}">{{aluno.nome}}</option>
								</select>
							</div>
							<div class="form-group">	
								<label for="tipo">Tipo *</label>
								<input type="text" id="tipo" class="form-control" ng-model="servicoDataset.tipo" required>
							</div>
							<div class="form-group">
								<label for="valor">Valor *</label>
								<div class="input-group">	
									<span class="input-group-addon">R$</span>	
									<input class="form-control" id="valor" type="text" ng-model="servicoDataset.valor" required>
								</div>
							</div>
							<div class="form-group">	
								<label for="descricao">Descição *</label>
								<textarea id="descricao" class="form-control" ng-model="servicoDataset.descricao" required></textarea>
							</div>
							<button type="button" class="btn btn-success" ng-click="salvaServico();" ng-disabled="form.$invalid">Salvar</button>
							<button type="button" class="btn btn-danger" ng-click="cancelaEdicaoServico();">Cancelar</button>
						</div> <!-- /.col -->
					</div> <!-- /.row -->
				</form>
			</div> <!-- /.portlet-content -->
		</div> <!--/.portlet -->
	</div> <!-- /#content-container -->			
</div> <!-- #content -->