<div id="content" ng-init="carregaCadUsuario();">
  <div id="content-header">
    <h1>Usuário</h1>
  </div> <!-- #content-header --> 
  <div id="content-container">
    <div class="portlet">
      <div class="portlet-header">
        <h3><i class="fa fa-tasks"></i>Usuario</h3>
      </div> <!-- /.portlet-header -->
      <div class="portlet-content">
        <form class="form" name="form" novalidate>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="usuarioNome">Nome *</label>
                <input type="text" id="usuarioNome" class="form-control" ng-model="usuario.nome" required>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="usuarioAcesso">Usuário de Acesso *</label>
                <input type="text" id="usuarioAcesso" class="form-control" ng-model="usuario.usuario" required>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" class="form-control" ng-model="usuario.senha">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="confirmacao_senha">Confirmar Senha</label>
                <input type="password" id="confirmacao_senha" class="form-control" ng-model="usuario.confirmacaoSenha">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-success" ng-click="salvarUsuario();" ng-disabled="form.$invalid">Salvar</button>
              <button type="button" class="btn btn-danger" ng-click="cancelaEdicaoUsuario();">Cancelar</button>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </form>
      </div> <!-- /.portlet-content -->
    </div> <!--/.portlet -->
  </div> <!-- /#content-container -->     
</div> <!-- #content -->