<div id="content" ng-init="loadDashboard();">		
	<div id="content-header">
		<h1>Dashboard</h1>
	</div> <!-- #content-header -->	
	<div id="content-container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<a href="javascript:;" class="dashboard-stat tertiary">
					<div class="visual">
						<i class="fa fa-star"></i>
					</div> <!-- /.visual -->
					<div class="details">
						<span class="content">Alunos Ativos</span>
						<span class="value">{{dashboardDataset.dashboard.ativo}}</span>
					</div> <!-- /.details -->
				</a> <!-- /.dashboard-stat -->
			</div> <!-- /.col-md-3 -->

			<div class="col-md-4 col-sm-6">
				<a href="javascript:;" class="dashboard-stat primary">
					<div class="visual">
						<i class="fa fa-star"></i>
					</div> <!-- /.visual -->
					<div class="details">
						<span class="content">Alunos Inativos</span>
						<span class="value">{{dashboardDataset.dashboard.inativo}}</span>
					</div> <!-- /.details -->
				</a> <!-- /.dashboard-stat -->
			</div> <!-- /.col-md-3 -->

			<div class="col-md-4 col-sm-6">
				<a href="javascript:;" class="dashboard-stat secondary">
					<div class="visual">
						<i class="fa fa-star"></i>
					</div> <!-- /.visual -->
					<div class="details">
						<span class="content">Alunos Trancados</span>
						<span class="value">{{dashboardDataset.dashboard.trancado}}</span>
					</div> <!-- /.details -->
				</a> <!-- /.dashboard-stat -->
			</div> <!-- /.col-md-3 -->
		</div>
		<div class="row">
			<!--  Inicio grid aniversario -->
			<ws-grid grid-data="dashboardDataset.aniversarios" show-input-items-per-page="true" titulo="tituloAniversariantes" columns="columnsAniversariantes"></ws-grid>
			<!--  Fim grid aniversario -->

			<!--  Inicio grid planos vencendo -->
			<ws-grid grid-data="dashboardDataset.plano" show-input-items-per-page="true" titulo="tituloPlanosVencendo" columns="columnsPlanosVencendo"></ws-grid>
			<!--  Fim grid planos vencendo -->
			
		</div>
		<div class="row">
			<!--  Inicio grid vencimento estacionamento vencido -->
			<ws-grid grid-data="dashboardDataset.estacionamentoVencido" show-input-items-per-page="true" titulo="tituloEstacionamentoVencido" columns="columnsEstacionamentoVencido"></ws-grid>
			<!--  Fim grid vencimento estacionamento vencido -->

			<!--  Inicio grid vencimento estacionamento trancado -->
			<ws-grid grid-data="dashboardDataset.estacionamentoTrancado" show-input-items-per-page="true" titulo="tituloEstacionamentoTrancado" columns="columnsEstacionamentoTrancado"></ws-grid>
			<!--  Fim grid vencimento estacionamento trancado -->
		</div>
		<div class="row">
			<!--  Inicio grid planos trancado -->
			<ws-grid grid-data="dashboardDataset.trancado" show-input-items-per-page="true" titulo="tituloPlanosTrancados" columns="columnsPlanosTrancados"></ws-grid>
			<!--  Fim grid planos trancado -->
		</div> <!-- /.row -->
	</div> <!-- /#content-container -->
</div> <!-- #content -->