<!doctype html>
<html lang="en" ng-app="crossfitApp">
<head>
	<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
	<link href="public/img/favicon.ico" rel="icon"/>
	<title>WodStorm BoxCtr</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="">
	<meta name="author" content="" />
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">
	<link rel="stylesheet" href="public/assets/css/font-awesome.min.css" type="text/css" />		
	<link rel="stylesheet" href="public/assets/css/bootstrap.min.css" type="text/css" />	
	<link rel="stylesheet" href="public/assets/js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css" />	
	<link rel="stylesheet" href="public/assets/css/select2.css" type="text/css" />	
	
	
	<link rel="stylesheet" href="public/assets/css/App.css" type="text/css" />
	

	<link rel="stylesheet" href="public/assets/css/custom.css" type="text/css" />
</head>
<body ng-switch on="$root.logged">

	<div id="wrapper" ng-switch-when="true">
		<header id="header">

		<h1 id="site-logo">
			<a href="#/dashboard">
				<img src="public/assets/img/logos/logo.png" alt="WodStorm" />
			</a>
		</h1>	

<!-- 		<a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
			<i class="fa fa-cog"></i>
		</a> -->
		<a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
			<i class="fa fa-reorder"></i>
		</a>
	</header> <!-- header -->
	<div id="sidebar-wrapper" class="collapse sidebar-collapse">
		<nav id="sidebar">		
			<ul id="main-nav" class="open-active" ws-menu>			
				<li class="active">				
					<a href="#/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a>				
				</li>
				<li class="">
					<a href="#/aluno"><i class="fa fa-user"></i>Aluno</a>				
				</li>
				<li class="">				
					<a href="#/aulaexp"><i class="fa fa-list-alt"></i>Aula Experimental</a>				
				</li>
				<li class="">				
					<a href="#/estacionamento"><i class="fa fa-truck"></i>Estacionamento</a>				
				</li>
				<li class="">				
					<a href="#/servico"><i class="fa fa-book"></i>Serviços</a>				
				</li>
				<li class="">				
					<a href="#/presenca"><i class="fa fa-check-square-o"></i>Presença</a>				
				</li>
				<li class="dropdown">
					<a href="javascript:;"><i class="fa fa-bar-chart-o"></i>Relatórios<span class="caret"></span></a>				
					<ul class="sub-nav">
						<li>
							<a href="#/relaluno"><i class="fa fa-bar-chart-o"></i>Aluno</a>
						</li>
						<li>
							<a href="#/relaula"><i class="fa fa-bar-chart-o	"></i>Aula</a>
						</li>
						<li>
							<a href="#/relservico"><i class="fa fa-bar-chart-o	"></i>Serviço</a>
						</li>
					</ul>						
				</li>	
				<li class="dropdown">
					<a href="javascript:;"><i class="fa fa-cog"></i>Configuração<span class="caret"></span></a>
					<ul class="sub-nav">
						<li>
							<a href="#/desconto"><i class="fa fa-cog"></i>Desconto</a>
						</li>
						<li>
							<a href="#/formapagamento"><i class="fa fa-cog"></i>Formas de pagamento</a>
						</li>	
						<li>
							<a href="#/plano"><i class="fa fa-cog"></i>Planos</a>
						</li>			
					</ul>	
				</li>
			</ul>
		</nav> <!-- #sidebar -->
	</div> <!-- /#sidebar-wrapper -->

	<div ng-view></div>

	<footer id="footer">
		<ul class="nav pull-right">
			<li>
				Copyright &copy; 2013, WodStorm.
			</li>
		</ul>
	</footer>
</div> <!-- #wrapper -->

<div id="wrapper" ng-switch-default>
	<div ng-view></div>
</div>


<script src="public/built.js"></script>
<script src="public/services/appservices.js"></script>
<script src="public/controllers/appcontrollers.js"></script>
<script src="public/diretivas/appdirectives.js"></script>
<script src="public/filters/appfilters.js"></script>
<script src="public/app.js"></script>

<script src="public/assets/js/libs/raphael-2.1.2.min.js"></script>
<script src="public/assets/js/plugins/morris/morris.min.js"></script>

</body>
</html>