<!doctype html>
<html lang="en" ng-app="crossfitApp">
<head>
	<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
	<link href="public/img/favicon.ico" rel="icon"/>
	<title>WodStorm BoxCtr</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="">
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="public/assets/js/plugins/datepicker/datepicker.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">
	<link rel="stylesheet" href="public/assets/css/font-awesome.min.css" type="text/css" />		
	<link rel="stylesheet" href="public/assets/css/bootstrap.min.css" type="text/css" />	
	<link rel="stylesheet" href="public/assets/js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css" />	
	<link rel="stylesheet" href="public/assets/css/select2.css" type="text/css" />	
	<link rel="stylesheet" href="public/assets/css/App.css" type="text/css" />
	<link rel="stylesheet" href="public/assets/css/custom.css" type="text/css" />

	<script type="text/javascript" src="public/components/jquery/jquery.min.js"></script>
	<!-- <script src="public/components/jquery/dist/jquery.min.js"></script> -->
	<script src="public/components/angular/angular.min.js"></script>
	<script src="public/components/angular-resource/angular-resource.min.js"></script>
	<script src="public/components/angular-route/angular-route.min.js"></script>
	<script src="public/components/angular-ui-bootstrap/dist/ui-bootstrap-0.10.0.min.js"></script>
	<script src="public/components/select2/select2.min.js"></script>
	<script src="public/components/angular-ui-select2/src/select2.js"></script>
	<script type="text/javascript" src="public/components/angular-bootstrap-datepicker/dist/angular-bootstrap-datepicker.js"></script>
	<script src="public/services/appservices.js"></script>
	<script src="public/controllers/appcontrollers.js"></script>
	<script src="public/diretivas/appdirectives.js"></script>
	<script src="public/filters/appfilters.js"></script>
	<script src="public/app.js"></script>
	<script type="text/javascript" src="public/assets/js/plugins/datepicker/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="public/assets/js/plugins/datepicker/bootstrap-datepicker.pt-BR.js"></script>

	<script src="public/assets/js/libs/raphael-2.1.2.min.js"></script>
	<script src="public/assets/js/plugins/morris/morris.min.js"></script>
	<script src="public/assets/js/plugins/howl/howl.js"></script>
</head>
<body ng-switch on="$root.logged">

	<div id="wrapper" ng-switch-when="true">
		<header id="header" ng-show="headerIsVisible">

			<h1 id="site-logo">
				<a href="#/dashboard">
					<img src="public/assets/img/logos/logo.png" alt="WodStorm" />
				</a>
			</h1>	

<!-- 		<a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
			<i class="fa fa-cog"></i>
		</a> -->
		<a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
			<i class="fa fa-reorder"></i>
		</a>
	</header> <!-- header -->
	<nav id="top-bar" class="collapse top-bar-collapse" ws-nav-usuario></nav>
	<div id="sidebar-wrapper" class="collapse sidebar-collapse" ws-sidebar-menu></div>

	<div ng-view></div>

	<footer id="footer">
		<ul class="nav pull-right">
			<li>
				Copyright &copy; 2013, WodStorm.
			</li>
		</ul>
	</footer>
</div> <!-- #wrapper -->

<div id="wrapper" ng-switch-default>
	<div ng-view></div>
</div>
</body>
</html>