.dropdown-menu {
  /*background: #616161;*/
}

.text-center {
  color: #FFF;
}
.btn-imprimir {
    font-size: 19px;
    padding: 0px !important;
    color: #555;
}

.fundo {
	z-index: 1040;
}

.loading{
	background: url(../../img/loader.gif) 0 0 no-repeat;
	display: block;
	height: 55px;
	left: 50%;
	position: absolute;
	-webkit-transform: translate3d(-50%,-50%, 0);
	top: 50%;
	width: 55px;
}