.pull-right, #footer{display: none !important}
#content {margin-left: 20px;}
#content-container {top: 0px !important;}

table{
  width: 100%;
}

div.report-title {
    float: left;
    margin-left: 20px;
}
.logo{float: right}

div.logo-wodstormapp {
  width: 40%;
  float: left;
  padding-bottom: 12px;
}

th {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #616161;
  color: #222222;
}

td {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td.totalizador {
  background-color: #cccccc;
}

tr:nth-child(2n+1) {
  background-color: #eeeeee;
}