.ws-pagination 
	.voltarPagina(ng-click="paginaAnterior();")
	.tituloPagina Páginas
	.textoPaginas
		.paginaAtual {{ pagina }}
		/
		.totalPaginas {{ totalPaginas }}
	.avancarPagina(ng-click="paginaProxima();")